body{
  font-family: montserrat ;
  color: white;
  background: black;

}

/* #container{
  width: 1000px;
  height: 550px;
  margin: 20px auto;
  background: linear-gradient( #000000, #2a2a2a);
  } */

#calculator{
  padding: 5px;
  padding-left: 10px;
  width: 320px;
  height : 520px;
  /* background-color: linear-gradient ( #2193b0 #6dd5ed ); */
  /* background: linear-gradient(to top, #232526, #414345); */
  background: #232526;
  margin: 0 auto;
  top: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow:
}

#result{
  height: 120px;
}

#keyboard{
  height: 400px;
}

#history{
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #d8d8d8;
}

#output{
  color: #FFC40A;
  text-align: right;
  height: 60px;
  margin: 15px 20px;
  font-size: 40px;
}

.operator, .number, .empty{
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-size: 15px;
  font-family: montserrat;
}

.number, .empty{
  /* opacity: 0.5; */
  color: white;
  background: #232526 ;

}
.number, .operator{
  cursor: pointer;
}

.operator:active, .number:active{
  font-size: 13px;
  color: #F5BD1F;
}

.operator:focus, .number:focus, .empty:focus{
  outline: 0;
}
